{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| OAB | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastro de OAB
            <small>Cadastrar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/oab">OABs</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/oab/salvarCadastrar" method="post" class="jsonForm">
                        <div class="box-body">

                                <div class="form-group">
                                    <label for="nome_adv ">Nome do Advogado</label>
                                    <input type="text" class="form-control" id="nome_adv " name="nome_adv" readonly value="{{ linha['nome_adv'] }}">
                                </div>
                                <div class="form-group">
                                    <label for="numero_oab ">Numero Oab</label>
                                    <input type="text" class="form-control" id="numero_oab " name="numero_oab" readonly value="{{ linha['numero_oab'] }}">
                                </div>
                                
                     
                                <input type="hidden" class="form-control" id="id_oab" name="id_oab"  value="{{ linha['id_oab'] }}" >              
                                <input type="hidden" class="form-control" id="aprovado" name="aprovado"   value="">
                            
                            <!-- /.box-body -->
                        {% if linha['status_oab'] == 'Aguardando Avaliacao' %}
                        <div class="box-footer">
                            <button type="button" id="aprovar" class="btn btn-block btn-success btn-flat">Aprovar</button>
                            <button type="button" id="reprovar" class="btn btn-block btn-danger btn-flat">Reprovar</button>
                        </div>
                        {% elseif linha['status_oab'] == 'Reprovado'%}
                        <div class="callout callout-warning">
                <h4>Essa OAB já foi Reprovada!</h4>

               
              </div>
              {% elseif linha['status_oab'] == 'Aprovado'%}
              <div class="callout callout-success">
                <h4>Essa OAB já foi Aprovada!</h4>

                
              </div>
                        {%endif%}
                    </form>
                    
   
                    
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $("#aprovar").on("click", function(){
   $("#aprovado").val("Aprovado");
$('.jsonForm').submit();  });
            $("#reprovar").on("click", function(){
   $("#aprovado").val("Reprovado");
$('.jsonForm').submit();  });
        
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
