{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Area | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Editar Areas
            <small>Editar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/advogado">Advogado</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/area/salvareditar" method="post" class="jsonForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="id_area">Código</label>
                                aaaaa
                                <input type="number" class="form-control" id="id_area" name="id_area" readonly value="{{ linha['id_area'] }}" >
                            </div>
                            <div class="form-group">
                                <label for="nome_area">Nome</label>
                                <input type="text" class="form-control" id="nome_area" name="nome_area" placeholder="Nome da Area" required value="{{ linha['nome_area'] }}">
                                <br>
                            
                            <div class="form-group">
                            <label for="descricao">Descrição</label>
                                <textarea name="descricao" class="form-control" rows="4" cols="50" placeholder="Descrição" required value="{{ linha['descricao'] }}"></textarea>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem,
                            onClosed: function(){
                                document.location = "/area";
                            }
                        });

                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
