{% extends 'layouts/dashboard.html.twig' %}

{% block title %} | Advogado | Listagem{% endblock %}
{% block stylesheet %}
<link href="/dist/js/jquery.bootgrid.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/dist/css/iziToast.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Menu do Advogado
    </h1>
 <!--   <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Advogados</li>
    </ol> -->
</section>
{% endblock %}

{% block content %}

<div class="col-lg-6 col-xs-12">

    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>Cadastrar OAB</h3>
    
            <p>Cadastre um numero de OAB valido.</p>
        </div>
        <div class="icon">
            <i class="fa fa-plus-square"></i>
        </div>
        <a href="/oab/formcadastrar" class="small-box-footer">
            Leve-me lá <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Lista de OAB</h3>
            
                    <p>Veja uma lista com todas as suas OABs cadastradas.</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <a href="/oab/" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Adicionar Area</h3>
            
                    <p>Adicione suas areas de atuação.</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-square"></i>
                </div>
                <a href="/area/formcadastrar" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>Editar Perfi</h3>
            
                    <p>Edite seu perfil.</p>
                </div>
                <div class="icon">
                    <i class=" fa fa-cog"></i>
                </div>
                <a href="/advogado/formeditar" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
    </div>
</div>



{% endblock %}


{% block javascriptPlugins %}
<script src="/dist/js/jquery.bootgrid.js"></script>
<script src="/dist/js/jquery.bootgrid.fa.js"></script>
<script src="/dist/js/iziToast.js"></script>
<script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

