{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| OAB | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastro de OAB
            <small>Cadastrar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/oab">OABs</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/dist/js/jquery.mask.js"></script>


        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/oab/salvarcadastrar" method="post" class="jsonForm">
                        <div class="box-body">

                                <div class="form-group">
                                    <label for="numero_oab ">Numero Oab</label>
                                    <input type="number" class="form-control" id="numero_oab " name="numero_oab" placeholder="Numero" required data-mask="00.000">
                                </div>

                                <div class="form-group">
                                    <label for="estados_oab">Estado</label>
                                    <select class="form-control" id="estados_oab" name="estados_oab" required>
                                        <option value="">-Selecione uma Estado-</option>
                                        {% for estado in estados %}
                                            <option value="{{ estado.id_estado }}">{{ estado.nome_estado }}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                            <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        $('.jsonForm').trigger("reset");
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
