<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> beta 1.0
    </div>
    <strong>Copyright &copy; 2020-2020 <a href="https://www.instagram.com/orickbraunn/">Ricardo</a>.</strong> All rights
    reserved.
</footer>
