{% extends 'layouts/dashboard.html.twig' %}

{% block title %} | Administrador | Menu{% endblock %}
{% block stylesheet %}


{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Menu do Administrador
    </h1>
 <!--   <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Advogados</li>
    </ol> -->
</section>
{% endblock %}

{% block content %}


<div class='row'>
<div class="col-lg-6 col-xs-12">

    <div class="small-box bg-aqua">
        <div class="inner">
            <h1>Cadastrar Advogado</h1>
    
            <p>Cadastre um Advogado.</p>
        </div>
        <div class="icon">
            <i class="fa fa-plus-square"></i>
        </div>
        <a href="/advogado/formcadastrar" class="small-box-footer">
            Leve-me lá <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Lista de Advogados Cadastrados</h1>
            
                    <p>Veja uma lista com todas os Advogados cadastrados.</p> 
                </div>
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <a href="/advogado/" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Cadastrar Cliente</h1>
            
                    <p>Cadastre um Cliente.</p>
                </div>
                <div class="icon">
                    <i class="fa fa-plus-square"></i>
                </div>
                <a href="/cliente/formcadastrar" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>
<div class="col-lg-6 col-xs-12">

    <div class="small-box bg-aqua">
        <div class="inner">
            <h1>Lista de Cliente Cadastrados</h1>
    
            <p>Veja uma lista com todas os Cliente cadastrados.</p>
        </div>
        <div class="icon">
            <i class="fa fa-list-alt"></i>
        </div>
        <a href="/cliente" class="small-box-footer">
            Leve-me lá <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
    </div>

<div class='row'>

<div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Cadastrar Area</h1>
            
                    <p>Cadastre areas de atuação.</p> 
                </div>
                <div class="icon">
                    <i class="fa fa-plus-square"></i>
                </div>
                <a href="/area/formcadastrar/" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Lista das Areas</h1>
            
                    <p>Lista de todas as areas de atuação.</p>
                </div>
                <div class="icon">
                    <i class="fa fa-list-alt"></i>
                </div>
                <a href="/area/" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>

    </div>
<div class='row'>

 <div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Validar OAB</h1>
            
                    <p>Validar OABs.</p>
                </div>
                <div class="icon">
                    <i class="fa fa-check-square"></i>
                </div>
                <a href="/oab/" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>
            <div class="col-lg-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h1>Editar Perfi</h1>
            
                    <p>Edite seu perfil.</p>
                </div>
                <div class="icon">
                    <i class=" fa fa-cog"></i>
                </div>
                <a href="/admin/formeditar" class="small-box-footer">
                    Leve-me lá <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
            </div>

</div>
{% endblock %}


{% block javascriptPlugins %}
<script src="/dist/js/jquery.bootgrid.js"></script>
<script src="/dist/js/jquery.bootgrid.fa.js"></script>
<script src="/dist/js/iziToast.js"></script>
<script src="/dist/js/iziToastExcluir.js"></script>
{% endblock %}

