{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Cliente | Arquivos{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">

    <link
            rel="stylesheet"
            href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css"
    />
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/arquivos/css/jquery.fileupload.css" />
    <link rel="stylesheet" href="/arquivos/css/jquery.fileupload-ui.css" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript
    ><link rel="stylesheet" href="/arquivos/css/jquery.fileupload-noscript.css"
        /></noscript>
    <noscript
    ><link rel="stylesheet" href="/arquivos/css/jquery.fileupload-ui-noscript.css"
        /></noscript>

{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Adição de Anexos
            <small>Arquivos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><a href="/solicitacao">solicitação</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">
<div style="position: absolute; bottom: 60px; right: 40px"><a href="/advogado/" class="btn btn-primary">Finalizar</a></div>

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">

                    <form id="fileupload" action="/solicitacao/upload/{{ linha['id_solicitacoes'] }}" method="POST" enctype="multipart/form-data">
                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                <span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Add files...</span>
              <input type="file" name="files[]" multiple />
            </span>
                                <button type="submit" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>
                                <button type="reset" class="btn btn-warning cancel">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel upload</span>
                                </button>
                                <button type="button" class="btn btn-danger delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete selected</span>
                                </button>
                                <input type="checkbox" class="toggle" />
                                <!-- The global file processing state -->
                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div
                                        class="progress progress-striped active"
                                        role="progressbar"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                >
                                    <div
                                            class="progress-bar progress-bar-success"
                                            style="width: 0%;"
                                    ></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>
                        <!-- The table listing the files available for upload/download -->
                        <table role="presentation" class="table table-striped">
                            <tbody class="files"></tbody>
                        </table>
                    </form>

                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

<!-- The blueimp Gallery widget -->
<div
        id="blueimp-gallery"
        class="blueimp-gallery blueimp-gallery-controls"
        aria-label="image gallery"
        aria-modal="true"
        role="dialog"
        data-filter=":even"
>
    <div class="slides" aria-live="polite"></div>
    <h3 class="title"></h3>
    <a
            class="prev"
            aria-controls="blueimp-gallery"
            aria-label="previous slide"
            aria-keyshortcuts="ArrowLeft"
    ></a>
    <a
            class="next"
            aria-controls="blueimp-gallery"
            aria-label="next slide"
            aria-keyshortcuts="ArrowRight"
    ></a>
    <a
            class="close"
            aria-controls="blueimp-gallery"
            aria-label="close"
            aria-keyshortcuts="Escape"
    ></a>
    <a
            class="play-pause"
            aria-controls="blueimp-gallery"
            aria-label="play slideshow"
            aria-keyshortcuts="Space"
            aria-pressed="false"
            role="button"
    ></a>
    <ol class="indicator"></ol>
</div>

{%  verbatim %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-upload fade{%=o.options.loadImageFileTypes.test(file.type)?' image':''%}">
              <td>
                  <span class="preview"></span>
              </td>
              <td>
                  <p class="name">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
              </td>
              <td>
                  <p class="size">Processing...</p>
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
              </td>
              <td>
                  {% if (!o.options.autoUpload && o.options.edit && o.options.loadImageFileTypes.test(file.type)) { %}
                    <button class="btn btn-success edit" data-index="{%=i%}" disabled>
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Edit</span>
                    </button>
                  {% } %}
                  {% if (!i && !o.options.autoUpload) { %}
                      <button class="btn btn-primary start" disabled>
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                  {% } %}
                  {% if (!i) { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-download fade{%=file.thumbnailUrl?' image':''%}">
              <td>
                  <span class="preview">
                      {% if (file.thumbnailUrl) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                      {% } %}
                  </span>
              </td>
              <td>
                  <p class="name">
                      {% if (file.url) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                      {% } else { %}
                          <span>{%=file.name%}</span>
                      {% } %}
                  </p>
                  {% if (file.error) { %}
                      <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
              </td>
              <td>
                  <span class="size">{%=o.formatFileSize(file.size)%}</span>
              </td>
              <td>
                  {% if (file.deleteUrl) { %}
                      <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                      </button>
                      <input type="checkbox" name="delete" value="1" class="toggle">
                  {% } else { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
{% endverbatim %}

{% endblock %}

{% block javascript %}

{% endblock %}

{% block javascriptPlugins %}
    <script src="/dist/js/iziToast.min.js"></script>

{% endblock %}

{% block jquery %}
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/arquivos/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/arquivos/js/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/arquivos/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/arquivos/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/arquivos/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/arquivos/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/arquivos/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/arquivos/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="/arquivos/js/jquery.fileupload-ui.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
    <script>
        $("document").ready(function (){
            // Initialize the jQuery File Upload widget:
            $('#fileupload').fileupload({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: '/solicitacao/upload/' + {{ linha['id_solicitacoes'] }},
                sequentialUploads: true,
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png|pdf)$/i

            });

            // Load existing files:
            $('#fileupload').addClass('fileupload-processing');
            $.ajax({
                // Uncomment the following to send cross-domain cookies:
                //xhrFields: {withCredentials: true},
                url: $('#fileupload').fileupload('option', 'url'),
                dataType: 'json',
                context: $('#fileupload')[0]
            }).always(function () {
                $(this).removeClass('fileupload-processing');
            }).done(function (result) {
                $(this).fileupload('option', 'done')
                    .call(this, $.Event('done'), {result: result});
            });

            var multiDel = false;

            $('#fileupload').on('fileuploaddestroy', function (e, data) {
                if(multiDel){ return true; };
                var delconf = confirm("Deseja realmente excluir o arquivo ? ");
                if(!delconf) {
                    e.preventDefault;
                    return false;
                }
            });

            $('#fileupload').fileupload({
                multiDestroy: function (e) {
                    var delconf = confirm("Deseja realmente excluir os arquivos selecionados?");
                    if (!delconf) {
                        e.preventdefault;
                        return false;
                    } else {
                        multiDel = true;
                    }
                }
            })
                .fileupload({
                    multiDestroyFinished: function (e) {
                        multiDel = false;
                    }
                });

        });


    </script>

{% endblock %}

