{% extends 'layouts/dashboard.html.twig' %}


{% block title %}| Solicitação | Cadastrar{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/dist/css/iziToast.min.css">
{% endblock %}

{% block breadcrumb %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cadastro de Solicitação
            <small>Cadastrar</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        </ol>
    </section>
{% endblock %}


{% block content %}
    <section class="content">

        <div class="row">
            <div class="col-12">

                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" action="/solicitacao/salvarcadastrar" method="post" class="jsonForm">
                        <div class="box-body">
                        <!-- Colocar dados do Adv-->
                            <div class="form-group">
                            <input type='hidden' name='id_adv' id='id_adv' value='{{ linha.id_adv }}'>
                        <div class="form-group">
                            <label for="nome_adv">Nome do Advogado</label>
                            <input type="text" class="form-control" id="nome_adv" name="nome_adv" placeholder="Nome Advogado"  readonly required value='{{ linha.nome_adv }}'>
                        </div>
                            </div>
                            <div class="form-group">
	                            <label for="descricao">Descreva sua Solicitação</label>
	                            <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
                            </div>


                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Solicitar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}



{% block javascriptPlugins %}
    <script src="/dist/js/jquery.form.js"></script>
    <script src="/dist/js/iziToast.min.js"></script>
{% endblock %}

{% block jquery %}
    <script>
        $(document).ready(function(){
            $('.jsonForm').ajaxForm({
                dataType:  'json',

                success:   function(d){
                    if (d.status==0){
                        iziToast.error({
                            message: d.mensagem
                        });
                    }else{
                        iziToast.success({
                            message: d.mensagem
                        });
                        document.location = '/solicitacao/arquivos/' + d.id;
                    }
                }

            });
        });
    </script>
{% endblock %}

{% block javascript %}
{% endblock %}
